body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#nav-search {
  margin-right: 50px;
  width: 500px;
}
#filter-sidebar {
  margin-top: 150px;
  margin-left: 50px;
  width: fit-content;
}
.category-title {
  color: blue;
  margin: 10px 0 10px 20px;
  cursor: pointer;
}
.sub-title {
  margin-left: 20px;
}