body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#filter-sidebar {
  margin-left: 20px;
  width: 90%;
}
.category-title {
  color: #004E64;
  margin: 10px 0 10px 20px;
  cursor: pointer;
  
}
#side-nav {
  margin-top: 100px;
  margin-left: 10px;
  width: fit-content;
  position: absolute;
}
.sub-title {
  margin-left: 20px;
  color: #1689AF;
}
.sub-title:hover {
  margin-left: 20px;
  color: rgb(37, 158, 73);
}
#filter-top {
  margin-left: 400px;
  width: 500px;
}
.dropdown button {
  margin-right: 20px;
}
.carousel-item > img {
  width: 100%;
}
.carousel-image-holder {
  height: 500px;
}
#the-list .col-sm-12 {
  max-width: 60%;
}
.card-img-top {
  margin-top: 14px;
  border-radius: 0;
}
.card-img {
  margin-top: 14px;
  border-radius: 0;
}
.custom-tag {
  max-width: 100%;
  height: 500px;
}
.carousel-item:first-child {
  background: url(./images/piron-guillaume-492639-unsplash.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
}
.carousel-item:nth-child(2) {
  background: url(./images/jesse-orrico-60373-unsplash-min.png) no-repeat center center;
  background-size: cover;
}
.carousel-item:nth-child(3) {
  background: url(./images/oneDoctor.jpg) no-repeat center center;
  background-size: cover;
}
.carousel-item:nth-child(4) {
  background: url(./images/rawpixel-584296-unsplash.jpg) no-repeat center center;
  background-size: cover;
}
#the-carousel {
  margin-top: 30px;
}
.carousel-item:first-child .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(2) .carousel-caption {
  color: #022F40;
  border-radius: 5%;
  text-shadow: 1px 1px 0px white,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(3) .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(4) .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.trendTitle {
  margin: 10px 0 10px 20px; 
  color: #022F40;
}

.trendVid {
  margin: 0 0 30px 0; 
}

.card-title {
  color: #1689AF;
  margin: 10px 0 10px 0;
  font-weight: 700;
}
.card-title:hover {
  color: rgb(37, 158, 73);
  text-decoration: underline;
}
.card-body a {
  text-decoration: none;
}
#the-list {
  margin-top: 50px;
  margin-left: 220px;
  width: 100%;
}
#video-header {
  margin-top: 80px;
  margin-left: 40px;
}
.home-breadcrumb a {
  color: #004E64;
}
.home-breadcrumb a:hover {
  color: rgb(37, 158, 73);
}
.breadcrumb {
  background-color: lightgray;
}
#vidDetailTitle:hover {
  text-decoration: none;
  color: #1689AF;
}
#side-nav-title {
  color: #022F40;
  text-decoration: underline;
  margin-bottom: 20px;
}
#the-list .card {
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 450px;
}

.watch-breadcrumb {
  margin-top: 70px;
}

#vidDetailTitle{
  font-size: 2em;
}
.strong {
  font-weight: 1000;
}
.footer {
  width: 100%;
  background-color: #004E64;
}

.nav-links {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 8px;
  right: 8px;
  
}
.nav-item-container {
  width: 100%;
  height: 100%;

}
.nav-links:hover {
  color: white;
  text-decoration: none;
}
.active {
  color: white;
  text-decoration: none;
}
.contribute {
  margin-left: 15px;
}
.the-logo {
  margin:0;
}

.media{
  margin-top:100px;
}

.media-object{
  border-radius:50%;
  height:100px;
  width:100px;
}

.d-flex{
  flex-direction:row;
  flex-wrap:wrap;
  margin-bottom:5%;
  margin-left:10%;
}

.media{
  width:30%;
}

.media-body{
  margin-left:5%;
  margin-top:5%;
}

#toplevel-nav {
  background-color: #004E64;
}
.nav-go {
  background-color: rgb(37, 158, 73);
}
.nav-go:hover {
  background-color: rgb(41, 233, 99);
}
.filter-icons {
  background-color: #004E64;
}
.filter-icons:hover {
  background-color: #022F40;
}
.filter-icons:active {
  background-color: #022F40;
}
.page-link {
  color: #022F40;
}
.loading-div {
  height: 800px;
}
.bread-bg {
  width: 98%;
  margin: auto;
}
.card {
  max-width: 70%;
}
@media (max-width: 991px){
  .nav-links {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .nav2 {
    position: relative;
    left: -15px;
  }
  .contribute {
    padding-top: 10px
  }
  .the-logo {
    margin-bottom: 10px;
  }
  #filter-top {
    margin-left: 300px;
    width: 500px;
  }
  .watch-breadcrumb {
    margin-top: 80px;
  }
}
@media only screen and (max-device-width: 480px){
  #filter-top {
    margin-left: 100px;
    width: 500px;
  }
}