body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#filter-sidebar {
  margin-left: 20px;
  width: 90%;
}
.category-title {
  color: #004E64;
  margin: 10px 0 10px 5px;
  cursor: pointer;
  
}
#side-nav {
  margin-top: 100px;
  margin-left: 10px;
  width: fit-content;
  position: absolute;
}
.sub-title {
  margin-left: 20px;
  color: #1689AF;
}
.sub-title:hover {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(37, 158, 73);
}
.sub-links {
  margin: 10px 0 20px 0;
}
#filter-top {
  margin-left: 400px;
  width: 500px;
}
.dropdown button {
  margin-right: 20px;
}
.carousel-item > img {
  width: 100%;
}
.carousel-image-holder {
  height: 500px;
}
#the-list .col-sm-12 {
  max-width: 60%;
}
.card-img-top {
  margin-top: 14px;
  border-radius: 0;
}
.card-img {
  margin-top: 14px;
  border-radius: 0;
}
.custom-tag {
  max-width: 100%;
  height: 500px;
}
.carousel-item:first-child {
  background: url(./images/piron-guillaume-small.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
}
.carousel-item:nth-child(2) {
  background: url(./images/jesse-orrico-small.png) no-repeat center center;
  background-size: cover;
}
.carousel-item:nth-child(3) {
  background: url(./images/oneDoctor-small.jpg) no-repeat center center;
  background-size: cover;
}
.carousel-item:nth-child(4) {
  background: url(./images/rawpixel-584296-unsplash.jpg) no-repeat center center;
  background-size: cover;
}
#the-carousel {
  margin-top: 30px;
}
.carousel-item:first-child .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(2) .carousel-caption {
  color: #022F40;
  border-radius: 5%;
  text-shadow: 1px 1px 0px white,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(3) .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.carousel-item:nth-child(4) .carousel-caption {
  text-shadow: 1px 1px 0px black,
    1px 1px 10px rgba(0, 0, 0, 0.15),
    1px 1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 20px rgba(0, 0, 0, 0.1);
}
.trendTitle {
  margin: 10px 0 10px 50px; 
  color: #022F40;
}

.trendVid {
  margin: 0 0 30px 0; 
}

.card-title {
  color: #1689AF;
  margin: 10px 0 10px 0;
  font-weight: 700;
}
.card-title:hover {
  color: rgb(37, 158, 73);
  text-decoration: underline;
}
.card-body a {
  text-decoration: none;
}
#the-list {
  margin-top: 50px;
  margin-left: 220px;
  width: 83%;
  min-height: 1500px;
}
#video-header {
  margin-top: 80px;
  margin-left: 40px;
}
.home-breadcrumb a {
  color: #004E64;
}
.home-breadcrumb a:hover {
  color: rgb(37, 158, 73);
}
.breadcrumb {
  background-color: lightgray;
}
#vidDetailTitle:hover {
  text-decoration: none;
  color: #1689AF;
}
#side-nav-title {
  color: #022F40;
  text-decoration: underline;
  margin-bottom: 20px;
}
#the-list .card {
  margin-left: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 450px;
  min-width: 32%;
}

.watch-breadcrumb {
  margin-top: 70px;
}

#vidDetailTitle{
  font-size: 1.8em;
}
.strong {
  font-weight: 1000;
}
.footer {
  width: 100%;
  background-color: #004E64;
}

.nav-links {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 8px;
  right: 8px;
}
.nav-item-container {
  width: 100%;
  height: 100%;

}
.nav-links:hover {
  color: white;
  text-decoration: none;
}
.active {
  color: white;
  text-decoration: none;
}
.contribute {
  margin-left: 15px;
}
.the-logo {
  margin:0;
}

.media{
  margin-top:100px;
}

.media-object{
  border-radius:50%;
  height:100px;
  width:100px;
}

.team{
  flex-direction:row;
  flex-wrap:wrap;
  margin-bottom:5%;
  margin-left:10%;
}

.media{
  width:30%;
}

.media-body{
  margin-left:5%;
  margin-top:5%;
}

#toplevel-nav {
  background-color: #004E64;
}
.nav-go {
  background-color: rgb(37, 158, 73);
}
.nav-go:hover {
  background-color: rgb(41, 233, 99);
}
.filter-icons {
  background-color: #004E64;
}
.filter-icons:hover {
  background-color: #022F40;
}
.filter-icons:active {
  background-color: #022F40;
}
.page-link {
  color: #022F40;
}
.loading-div {
  height: 600px;
}
.bread-bg {
  width: 98%;
  margin: auto;
}
.card {
  max-width: 70%;
}
.trending-card {
  max-width: 30%;
}
.personDetails{
  margin-top:150px;
  margin-bottom:150px;
  font-size:2em;
  text-align:center;
}
.details-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
#playerWrapper {
  margin-left: 50px;
}
.no-videos {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 2em;
}
#team-nav {
  margin-right: 10px;
}
#fetch-vid {
  height: 600px;
}
.no-list {
  text-align: center;
  margin-top: 50px;
  font-size: 3em;
  height: 1600px;
}
.browse:hover {
  text-decoration: none;
  
}
.nav-browse {
  color: #004E64;
  cursor:pointer;
}
.nav-browse:hover {
  background-color: #004E64;
  color: white;
}
.filter-items:hover {
  background-color: #004E64;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.filter-links:hover {
  text-decoration: none;
}


.memberName{
  color:#004E64;
}
.memberName:hover{
  text-decoration:none;
}

.matrixPic{
  height:400px;
}
.imageHolder{
  height:40%;
  margin-bottom:20px;
}
.whatIDid{
  font-size:.5em;
}
.information{
  margin-left:-70px;
  margin-top:80px;
}
.team-photo {
  margin: auto;
  width: 422px;
}
.team-wrap {
  margin-bottom: 100px;
}
.team-text {
  margin-top: 20px;
  text-align: center;
}


/* Here is a media breakpoint */
@media (max-width: 991px){
  .nav-links {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .nav2 {
    position: relative;
    left: -15px;
  }
  .contribute {
    padding-top: 10px
  }
  .the-logo {
    margin-bottom: 10px;
  }
  #filter-top {
    margin-left: 300px;
    width: 500px;
  }
  .watch-breadcrumb {
    margin-top: 80px;
  }
  .trending-card {
    width: 40%;
    max-width: 50%;
    
  }
  #team-nav {
    margin-top: -8px;
    margin-bottom: 10px;
  }
  
}

/* Here is another media breakpoint */
@media (max-width: 575px){
  .trending-card {
    min-width: 70%;
    
  }
}


/* cellphone breakpoint */
@media only screen and (max-device-width: 480px){
  #filter-top {
    margin-left: 100px;
    width: 500px;
  }
  .no-list {
    margin-left: 200px;
    margin-top: 50px;
    font-size: 3em;
    height: 1600px;
  }
}